@model IEnumerable<Portfolio.PhotoService.PhotoMetaData>

@Html.DisplayNameFor(model => model.ProductId)
@ViewBag.ProductId

<table class="table">

@foreach (var item in Model) {

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LengthInBytes)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.LengthInBytes)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayName("Dimensions (In Pixels)")
        </th>
        <td>
            @String.Format("{0}x{1}", item.WidthInPixels, item.HeightInPixels)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
    </tr>
}

</table>
