@model IEnumerable<Portfolio.PhotoService.PhotoMetaData>

<div class="container">
    @Html.DisplayNameFor(model => model.ProductId)
    @ViewBag.ProductId
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <a href="~/Services/PhotoSrv.svc/GetPhoto/@item.Id">
            <img style="float:left; margin-right:10px;" class="PhotoSize" src="~/Services/PhotoSrv.svc/GetPhoto/@item.Id" alt="@item.Id" />
        </a>        
        <div>
            @Html.DisplayNameFor(model => model.CreatedBy)
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.CreationDate)
            @Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.LengthInBytes)
            @Html.DisplayFor(modelItem => item.LengthInBytes)
        </div>
        <div>
            @Html.DisplayName(Portfolio.PhotoService.Resources.DimensionsInPixels)
            @String.Format("{0}x{1}", item.WidthInPixels, item.HeightInPixels)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.ContentType)
            @Html.DisplayFor(modelItem => item.ContentType)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Md5Checksum)
            @String.Concat("0x", BitConverter.ToString(item.Md5Checksum).Replace("-", String.Empty))
        </div>
    }
</div>