@model IEnumerable<Portfolio.PhotoService.PhotoMetaData>

<div class="container" style="margin:10px 0px 10px 0px;">
    <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.ProductId)</span>
    @ViewBag.ProductId
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <a href="~/Services/PhotoSrv.svc/GetPhoto/@item.Id">
            <img style="float:left; margin-right:10px;" class="PhotoSize" src="~/Services/PhotoSrv.svc/GetPhoto/@item.Id" alt="@item.Id" />
        </a>        
        <div>
            <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.CreatedBy)</span>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </div>
        <div>
            <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.CreationDate)</span>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        <div>
            <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.LengthInBytes)</span>
            @Html.DisplayFor(modelItem => item.LengthInBytes)
        </div>
        <div>
            <span style="font-weight:bold;">@Html.DisplayName(Portfolio.PhotoService.Resources.DimensionsInPixels)</span>
            @String.Format("{0}x{1}", item.WidthInPixels, item.HeightInPixels)
        </div>
        <div>
            <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.ContentType)</span>
            @Html.DisplayFor(modelItem => item.ContentType)
        </div>
        <div>
            <span style="font-weight:bold;">@Html.DisplayNameFor(model => model.Md5Checksum)</span>
            @String.Concat("0x", BitConverter.ToString(item.Md5Checksum).Replace("-", String.Empty))
        </div>
    }
</div>